@use "../variables" as *;

// Base Styles

h1 {
  font-size: $font-size-3xl;

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-4xl;
  }
  font-weight: $font-weight-bold;
}

p,
h1 {
  margin: 0;
}

// HERO HOME
$hero-background-mobile-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553491/wtugdfsshkxpftthzexc.webp";
$hero-background-tablet-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553491/ge7dsgnbgnb4tv13afpf.webp";
$hero-background-desktop-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553491/t4qfnfne7qnwhpvqrpei.webp";
$background-overlay: rgba(33, 33, 33, 0.45);

.hero-container {
  position: relative;
  height: 25rem;
  @media (min-width: $breakpoint-md) {
    height: 28rem;
  }

  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.hero-home-bg,
.hero-about-bg,
.hero-financiada-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: 0;
}

.hero-home-bg {
  background:
    linear-gradient($background-overlay, $background-overlay),
    url($hero-background-mobile-url) no-repeat center center;
  background-size: cover;

  @media (min-width: $breakpoint-xs) {
    background:
      linear-gradient($background-overlay, $background-overlay),
      url($hero-background-tablet-url) no-repeat center center;
    background-size: cover;
  }

  @media (min-width: $breakpoint-lg) {
    background:
      linear-gradient($background-overlay, $background-overlay),
      url($hero-background-desktop-url) no-repeat center center;
    background-size: cover;
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  margin: $margin-mobile;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

  @media (min-width: $breakpoint-xs) {
    align-items: center;
  }
  color: white;
  gap: $spacing-md;
  p {
    font-weight: $font-weight-normal;

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-lg;
    }
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  @media (min-width: $breakpoint-xs) {
    text-align: center;
  }
}

// About
.about-container {
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
  }

  h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: $spacing-md;

    @media (min-width: $breakpoint-sm) {
      -webkit-text-stroke-width: 3px;
      margin-bottom: $spacing-lg;
    }
  }

  p {
    text-indent: 20px;
    line-height: 132.075%;
    font-weight: $font-weight-light;

    @media (min-width: $breakpoint-sm) {
      font-weight: $font-weight-normal;
      line-height: normal;
    }
    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  span {
    font-weight: $font-weight-normal;

    @media (min-width: $breakpoint-sm) {
      font-weight: $font-weight-bold;
    }
  }
}

// HERO ABOUT
$about-background-mobile-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553953/about-mobile-bg_u3jfja.webp";
$about-background-tablet-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553953/about-tablet-bg_d3ceie.webp";
$about-background-desktop-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732553954/about-desktop-bg_upkdsl.webp";

.hero-about-bg {
  background:
    linear-gradient($background-overlay, $background-overlay),
    url($about-background-mobile-url) no-repeat center center;
  background-size: cover;

  @media (min-width: $breakpoint-xs) {
    background:
      linear-gradient($background-overlay, $background-overlay),
      url($about-background-tablet-url) no-repeat center center;
    background-size: cover;
  }

  @media (min-width: $breakpoint-lg) {
    background:
      linear-gradient($background-overlay, $background-overlay),
      url($about-background-desktop-url) no-repeat center center;
    background-size: cover;
  }
}

// HERO FINANCIADA

$financiada-background-mobile-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732554084/financiada-mobile-bg_zhuvoa.webp";
$financiada-background-tablet-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732554085/financiada-tablet-bg_xknous.webp";
$financiada-background-desktop-url: "https://res.cloudinary.com/ds2krfoyx/image/upload/v1732554085/financiada-desktop-bg_c5kh8l.webp";
$financiada-background-overlay: rgba(33, 33, 33, 0.1);

.hero-financiada-bg {
  background:
    linear-gradient(
      $financiada-background-overlay,
      $financiada-background-overlay
    ),
    url($financiada-background-mobile-url) no-repeat center center;
  background-size: cover;

  @media (min-width: $breakpoint-xs) {
    background:
      linear-gradient(
        $financiada-background-overlay,
        $financiada-background-overlay
      ),
      url($financiada-background-tablet-url) no-repeat center center;
    background-size: cover;
  }

  @media (min-width: $breakpoint-lg) {
    background:
      linear-gradient(
        $financiada-background-overlay,
        $financiada-background-overlay
      ),
      url($financiada-background-desktop-url) no-repeat center center;
    background-size: cover;
  }
}

.emd-logo {
  height: 70px;
  width: auto;
}

.certification-logo-container {
  display: flex;
  margin: 1rem;
  gap: $spacing-md;
  align-self: center;
  position: absolute;
  bottom: 0;
  img {
    height: 35px;
    width: auto;
  }
}
