@use "../variables" as *;

.services-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
    gap: $spacing-xxl;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
  }

  h2 {
    text-align: center;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: $spacing-desktop;
  }
  align-items: center;
  gap: $spacing-xl;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 16rem;
  padding: 2.5rem;
  gap: $spacing-lg;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;

  @media (min-width: $breakpoint-xs) {
    width: 19rem;
  }

  @media (min-width: $breakpoint-md) {
    width: 16rem;
    height: 18rem;
  }

  @media (min-width: $breakpoint-lg) {
    width: 19rem;
  }
}

.card-svg {
  filter: drop-shadow(-2px 1px 2.5px rgba(212, 54, 80, 0.4));
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;
  background: none;
  border: none;
  color: $color-primary;
  font-weight: $font-weight-bold;
}

.card-title {
  text-align: center;
  font-size: $font-size-lg;

  @media (min-width: $breakpoint-lg) {
    font-size: $font-size-xl;
  }
  margin-bottom: $spacing-sm;
}

.card-subtitle {
  text-align: center;
  font-weight: $font-weight-light;
}
