@use "../variables" as *;

// Form

p,
h1 {
  margin: 0;
}

@mixin input-style {
  border-radius: 6px;
  border: 0.632px solid #ababab;
  box-shadow: 0px 2.529px 7.587px rgba(0, 0, 0, 0.04) inset;
  font-size: $font-size-xs;
  padding: 0.5rem;
}

@mixin container-style {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  label {
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    @media (min-width: $breakpoint-md) {
      font-weight: $font-weight-normal;
    }
  }
}

.form-container {
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
    margin-bottom: $spacing-desktop;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
    margin-bottom: $spacing-desktop;
    gap: $spacing-xxl;
    width: 70vw;
    align-self: center;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
    margin-bottom: $spacing-desktop;
    width: 50vw;
  }

  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  margin-bottom: $spacing-xxl;

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  h1 {
    color: $color-terciary;
    font-size: $font-size-xl;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-2xl;
    }
  }

  button {
    align-self: end;
  }
}

.email-container,
.questions-container {
  @include container-style;

  input,
  textarea {
    @include input-style;
  }

  textarea {
    min-height: 6rem;
    resize: vertical;
  }

  input {
    min-height: 2rem;
  }
}

.mandatory-field {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
}
