@use "variables" as *;

$findUs-mobile-background-url: "../assets/findUs-mobile-bg.png";
$findUs-tablet-background-url: "../assets/findUs-tablet-bg.png";

$height: 25rem;

.findUs-container {
  background: url($findUs-mobile-background-url);
  background-repeat: no-repeat;
  background-size: cover;
  height: $height;
  width: auto;
}

.hidden-container {
  height: calc($height / 2);
}

// Carousel

.carousel-container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-md;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
  padding: 2.5rem;
  h1 {
    font-size: $font-size-lg;
    text-align: center;
    color: $color-terciary;
  }
}

.dot-container {
  display: flex;
  align-self: center;
  gap: $spacing-xs;
}

.selected-dot {
  height: 8px;
  width: 8px;
  background-color: #2f83cf;
  border-radius: 8px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #b9b9b9;
  border-radius: 8px;
}

// Embla

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  flex: 0 0 100%;
  min-width: 0;

  p {
    margin: 0;
    &:not(.findUs-text) {
      margin-bottom: $spacing-xs;
    }

    &.findUs-text {
      font-size: $font-size-sm;
      font-weight: $font-weight-light;
    }
  }
}

@media (max-width: 375px) {
  .embla__slide p.findUs-text.email {
    font-size: $font-size-xs;
  }
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  .findUs-container {
    background: url($findUs-tablet-background-url);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
