@use "../variables" as *;

// Base Styles

.financiada-info-container {
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
    gap: $spacing-xxl;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  h1 {
    color: $color-terciary;
    font-size: $font-size-xl;
    @media (min-width: $breakpoint-md) {
      font-size: $font-size-2xl;
    }
    text-align: center;
  }
  article {
    font-size: $font-size-base;
    font-style: normal;
    font-weight: $font-weight-light;
    line-height: 132.075%;
  }
  p {
    text-indent: 20px;
  }
  a {
    text-decoration: none;
    color: $color-secondary;
    font-weight: $font-weight-normal;
  }
  span {
    font-weight: $font-weight-normal;
  }
}
